* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
main {
    min-width: 300px
}

// TOOLS and UTILITIES

@import 
"./imports/variables", 
"./imports/tools", 
"./imports/button",
"./imports/plates",
"./imports/title",
"./imports/background",
"./imports/container",
"./imports/text",
"./imports/header",
"./imports/heart"
;

// HOMEPAGE

@import
"./imports/location",
"./imports/content",
"./imports/instruction",
"./imports/restaurants",
"./imports/card",
"./imports/footer"
;

// Menu

@import
"./imports/menu"
;

/* TABLET SCREEN SIZING */

@media (min-width: 600px) {}

/* DESKTOP SCREEN SIZING */

@media (min-width: 880px) {}