* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gap {
  gap: 25px;
}

.container {
  max-width: 1340px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__logo {
  height: 60px;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px 0px #adadad;
          box-shadow: 0px 4px 10px 0px #adadad;
}

.header__logo__img {
  height: 30px;
}

.header__location {
  height: 50px;
}

.header__list {
  text-align: center;
  min-height: 290px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 10%;
}

.main {
  padding: 5%;
}

.main__instructions {
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
}

.main__list {
  color: white;
  height: 25px;
  width: 25px;
  padding: 3px 8px;
  border-radius: 50%;
  margin-left: -12.5px;
  background-color: #9356DC;
}

.main .hover {
  background-color: #f6f6f6;
  min-height: 75px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 10px 0px #adadad;
          box-shadow: 0px 4px 10px 0px #adadad;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .hover div {
  margin-right: 10px;
}

.main .hover:hover {
  background-color: #9356DC1A;
  cursor: pointer;
}

.card__body {
  padding: 5%;
}

.card--5 {
  height: 50px;
}

.card--10 {
  height: 100px;
}

.card--15 {
  height: 150px;
}

.text {
  color: #353535;
  font-weight: lighter;
  font-size: 14px;
}

.text--small {
  font-size: 12px;
}

.text--medium {
  font-size: 14px;
}

.text--large {
  font-size: 18px;
}

.text--thin {
  font-weight: lighter;
}

.text--bold {
  font-weight: bold;
}

.text--small-bold {
  font-size: 12px;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.title--white {
  color: white;
}

.bg--grey {
  background-color: #f6f6f6;
}

.btn__main {
  display: block;
  color: white;
  height: 50px;
  width: 220px;
  padding: 10px;
  line-height: 25px;
  text-align: center;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 10px 0px #adadad;
          box-shadow: 0px 4px 10px 0px #adadad;
}
/*# sourceMappingURL=style.css.map */