* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// TOOLS

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.center {
    align-items: center;
    justify-content: center;
}
.gap {
    gap: 20px;
}

// Variables

$grey-text: #353535;
$grey-BG: #eaeaea;
$lighter-grey-BG: #f6f6f6;
$bold-text: bold;
$thin-text: lighter;
$small-text: 12px;
$medium-text: 14px;
$large-text: 18px;
$drop-shadow: 0px 4px 10px 0px #adadad;

// TOOLS 

.container {
    max-width: 1340px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.header-logo {
    height: 60px;  
    position: relative;
    box-shadow: $drop-shadow;
    .logo {
        height: 30px;
    }
}
.header-location {
    color: $grey-text;
    height: 50px;
    background-color: $grey-BG;
    font-weight: $bold-text;
    font-size: $small-text;
}
.header-list {
    text-align: center;
    min-height: 290px;
    background-color: $lighter-grey-BG;
    justify-content: space-evenly;
    padding: 0 10%;
    .div-1 {
        font-weight: $bold-text;
        font-size: $large-text;
    }
    .div-2 {
        font-weight: $thin-text;
        font-size: $medium-text;
    }
    .exlore {
        .explore-button {
            // align-items: center;
            // display: block;
            color: white;
            height: 50px;
            width: 220px;
            border-radius: 25px;
            background: linear-gradient(to right bottom, #FF79DA, #9356DC);
            box-shadow: $drop-shadow;
            border: none;
        }
    }
}
.how-it-works {
    min-height: 440px;
    max-height: 440px;
    padding: 5%;
    justify-content: center;
    .header {
        font-weight: $bold-text;
        font-size: $large-text;
    }
    .instructions {
        margin-top: 25px;
        justify-content: space-between;
        .chose-instructions:hover {
            background-color: #9356DC1A;
            cursor: pointer;
        }
        .chose-instructions {
            background-color: $lighter-grey-BG;
            min-height: 75px;
            border-radius: 25px;
            box-shadow: $drop-shadow;
            align-items: center;
            div {
                margin-right: 20px;
            }
            .choice-number {
                color: white;
                height: 25px; 
                width: 25px;
                padding: 3px 8px;
                border-radius: 50%;
                margin-left: -12.5px;
                background-color: #9356DC;
            }
            .choice-info {
                font-weight: $bold-text;
                font-size: $small-text;
            }
        }
    }
}