* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gap {
  gap: 25px;
}

.container {
  max-width: 1340px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-logo {
  height: 60px;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px 0px #adadad;
          box-shadow: 0px 4px 10px 0px #adadad;
}

.header-logo .logo {
  height: 30px;
}

.header-location {
  color: #353535;
  height: 50px;
  background-color: #eaeaea;
  font-weight: bold;
  font-size: 12px;
}

.header-list {
  text-align: center;
  min-height: 290px;
  background-color: #f6f6f6;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 10%;
}

.header-list .div-1 {
  font-weight: bold;
  font-size: 18px;
}

.header-list .div-2 {
  font-weight: lighter;
  font-size: 14px;
}

.header-list .exlore .explore-button {
  color: white;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 4px 10px 0px #adadad;
          box-shadow: 0px 4px 10px 0px #adadad;
  border: none;
}

.how-it-works {
  min-height: 440px;
  max-height: 440px;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-it-works .header {
  font-weight: bold;
  font-size: 18px;
}

.how-it-works .instructions {
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
}

.how-it-works .instructions .chose-instructions:hover {
  background-color: #9356DC1A;
  cursor: pointer;
}

.how-it-works .instructions .chose-instructions {
  background-color: #f6f6f6;
  min-height: 75px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 10px 0px #adadad;
          box-shadow: 0px 4px 10px 0px #adadad;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works .instructions .chose-instructions div {
  margin-right: 10px;
}

.how-it-works .instructions .chose-instructions .choice-number {
  color: white;
  height: 25px;
  width: 25px;
  padding: 3px 8px;
  border-radius: 50%;
  margin-left: -12.5px;
  background-color: #9356DC;
}

.how-it-works .instructions .chose-instructions .choice-info {
  font-weight: bold;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */