* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// Variables

$white-text: white;
$grey-text: #353535;
$black-text: black;
$grey-BG: #eaeaea;
$lighter-grey-BG: #f6f6f6;
$bold-text: bold;
$thin-text: lighter;
$small-text: 13px;
$medium-text: 15px;
$large-text: 20px;
$drop-shadow: 0px 5px 15px -5px #bebebe;
$gap: 20px;

// TOOLS

.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    display: flex;
    flex-direction: column;
}
.center {
    align-items: center;
    justify-content: center;
}
.gap {
    gap: 20px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
}
.heart {
    padding: 0 10px 10px 0;
    height: 22.4px;
    width: 22.3px;
    font-size: 22.3px;
    color: #353535;
    a:hover {
        color: #9356DC;
    }
    .heart__icon {
      position: absolute;
    }
}
.heart:hover .heart__icon-solid {
    opacity: 1;
  }
.heart__icon-solid {
  color: #9356DC;
  transition: 0.3s opacity;
  opacity: 0; 
}
.margin {
    &--10 {
        margin: 10px;
        &.t {
            margin: 10px 0 0 0;
        }
        &.r {
            margin: 0 10px 0 0;
        }
        &.b {
            margin: 0 0 10px 0;
        }
        &.l {
            margin: 0 0 0 10px;
        }
        &.rl {
            margin: 0 10px;
        }
        &.tb {
            margin: 10px 0;
        }
    }
    &--15 {
        margin: 15px;
        &.t {
            margin: 15px 0 0 0;
        }
        &.r {
            margin: 0 15px 0 0;
        }
        &.b {
            margin: 0 0 15px 0;
        }
        &.l {
            margin: 0 0 0 15px;
        }
        &.rl {
            margin: 0 15px;
        }
        &.tb {
            margin: 15px 0;
        }
    }

}

// BLOCK

.container {
    max-width: 1000px;
    padding: 0 5% 0 5%;
    margin: auto;
} 
header {
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;  
        box-shadow: 0px 1px 5px 0px #adadad; // <--- WHY NOT WORKING?
        img {
            height: 30px; 
            // width: 200px;
            content: url("/images/logo/ohmyfood.png");
            // background-image: url("/images/logo/ohmyfood.png");
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: contain;
        }
    }
}
.location {
    display: flex;
    justify-content: center;
    padding: 12px 0 12px 0;
}
.content {   
    height: 290px; 
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 10% 40px 10%;
}
.instruction {
    padding: 40px 5% 55px 5%;
}
.instruction__list {
    margin-top: 30px;
    padding-left: 5%;
    a {
        font-size: $medium-text;
        background-color: $lighter-grey-BG;
        min-height: 75px;
        width: 100%;
        max-width: 520px;
        border-radius: 25px;
        box-shadow: $drop-shadow;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        &:hover {
            background-color: #9356DC1A;
        }
        div {
            color: rgb(255, 255, 255);
            height: 25px; 
            width: 25px;
            padding: 3px 8px;
            border-radius: 50%;
            margin-left: -12.5px;
            background-color: #9356DC;
        }
        i {
            color: #757575;
            height: 22.3px;
            width: 22.3px;
            padding: 4px 0;
            margin: 0 8px 0 12px;
        }
        p {
            font-weight: $bold-text;
            // white-space: nowrap;
        }
    }
}
.restaurants {
    padding: 50px 0;
    h1 {
        margin-bottom: 25px;
    }
}
.card {
    max-height: 245px;
    width: 100%;
    &-image {
        height: 135px;
        position: relative;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            &.ob-pos {
                &--up{
                    // object-position: 0 -160px;
                }
                &--down{
                    object-position: 0 10px;
                }
            }
        }
        div {
            font-size: $small-text;
            font-weight: $bold-text;
            color: #008766;
            width: 80px;
            height: 30px;
            border-radius: 3px;
            background-color: #99e2d0;
            position: absolute;
            top: 14px;
            right: 10px;
            padding: 6px 0 0 25px;
        }
    }
    &-description {
        background-color: white;
        height: 75px;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-shadow: $drop-shadow;
        .info {
            h2 {
                font-size: $medium-text;
                margin-bottom: 3px;
            }
            p {
                font-size: $medium-text;
                font-weight: $thin-text;
            }
        }
    }
}
footer {
    height: 180px;
    background-color: #353535;
    div {
        // margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        padding: 25px 0 15px 0;
        img {
            height: 15px;
            width: 100px;
            content: url("/images/logo/ohmyfood.png");
            filter: invert(100%);
        }
    }
    ul {
        list-style-type: none;
        li {
        margin-bottom: 3px;
        }
        li a {
            color: white;
            text-decoration: none;
            font-size: $small-text;
            i {
                width: 15px;
                margin-right: 10px;
            }
        }
    }
}

// ELEMENT & MODIFICATION

.plate {
    &__body {
        padding: 5%;
    }
    &--5 {
        height: 50px;
    }
    &--10 {
        height: 100px;
    }
    &--15 {
        height: 150px;
    }
}
.text {
    font-size: $medium-text;

    &--small {
        font-size: $small-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }      
    }
    &--medium {
        font-size: $medium-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }         
    }
    &--large {
        font-size: $large-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }          
    }
    &--thin {
        font-weight: $thin-text;
    }
    &--bold {
        font-weight: $bold-text;
    }
}
.font {
    &--grey {
        color: $grey-text;
    }
    &--black {
        color: $black-text;
    }
    &--white {
        color: $white-text;
    }
}
.title {
    font-size: $large-text;
    &--white {
        color: white;
    }
}

.bg {
    &--white {
        background-color: white;
    }
    &--light-grey {
        background-color: $lighter-grey-BG;
    }
    &--grey {
        background-color: $grey-BG;
    }
}
.btn {
    &.btn-main {
        display: block;
        color: white;
        height: 50px;
        width: 220px;
        padding: 10px;
        line-height: 25px;
        text-align: center;
        border-radius: 25px;
        background: linear-gradient(to right bottom, #FF79DA, #9356DC);
        text-decoration: none;
        font-size: $medium-text;
        font-weight: $bold-text;
        box-shadow: 0px 5px 15px -5px #757575;
    }
}
/* TABLET SCREEN SIZING */

@media (min-width: 600px) {
    .instruction__list {        
        padding-left: 0;
    }
    .card {
        max-width: 250px;
    }
}
/* DESKTOP SCREEN SIZING */

@media (min-width: 880px) {
    .instruction__list {       
        a {
        font-size: $small-text;
        max-width: 240px;
        }  
    }
    .card {
        max-width: 344px;
    }
}