* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gap {
  gap: 20px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.heart {
  padding: 0 10px 10px 0;
  height: 22.4px;
  width: 22.3px;
  font-size: 22.3px;
  color: #353535;
}

.heart a:hover {
  color: #9356DC;
}

.heart .heart__icon {
  position: absolute;
}

.heart:hover .heart__icon-solid {
  opacity: 1;
}

.heart__icon-solid {
  color: #9356DC;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.margin--10 {
  margin: 10px;
}

.margin--10.t {
  margin: 10px 0 0 0;
}

.margin--10.r {
  margin: 0 10px 0 0;
}

.margin--10.b {
  margin: 0 0 10px 0;
}

.margin--10.l {
  margin: 0 0 0 10px;
}

.margin--10.rl {
  margin: 0 10px;
}

.margin--10.tb {
  margin: 10px 0;
}

.margin--15 {
  margin: 15px;
}

.margin--15.t {
  margin: 15px 0 0 0;
}

.margin--15.r {
  margin: 0 15px 0 0;
}

.margin--15.b {
  margin: 0 0 15px 0;
}

.margin--15.l {
  margin: 0 0 0 15px;
}

.margin--15.rl {
  margin: 0 15px;
}

.margin--15.tb {
  margin: 15px 0;
}

.container {
  max-width: 1000px;
  padding: 0 5% 0 5%;
  margin: auto;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  -webkit-box-shadow: 0px 1px 5px 0px #adadad;
          box-shadow: 0px 1px 5px 0px #adadad;
}

header div img {
  height: 30px;
  content: url("/images/logo/ohmyfood.png");
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0 12px 0;
}

.content {
  height: 290px;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 10% 40px 10%;
}

.instruction {
  padding: 40px 5% 55px 5%;
}

.instruction__list {
  margin-top: 30px;
  padding-left: 5%;
}

.instruction__list a {
  font-size: 15px;
  background-color: #f6f6f6;
  min-height: 75px;
  width: 100%;
  max-width: 520px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 15px -5px #bebebe;
          box-shadow: 0px 5px 15px -5px #bebebe;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.instruction__list a:hover {
  background-color: #9356DC1A;
}

.instruction__list a div {
  color: white;
  height: 25px;
  width: 25px;
  padding: 3px 8px;
  border-radius: 50%;
  margin-left: -12.5px;
  background-color: #9356DC;
}

.instruction__list a i {
  color: #757575;
  height: 22.3px;
  width: 22.3px;
  padding: 4px 0;
  margin: 0 8px 0 12px;
}

.instruction__list a p {
  font-weight: bold;
}

.restaurants {
  padding: 50px 0;
}

.restaurants h1 {
  margin-bottom: 25px;
}

.card {
  max-height: 245px;
  width: 100%;
}

.card-image {
  height: 135px;
  position: relative;
}

.card-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-image img.ob-pos--down {
  -o-object-position: 0 10px;
     object-position: 0 10px;
}

.card-image div {
  font-size: 13px;
  font-weight: bold;
  color: #008766;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background-color: #99e2d0;
  position: absolute;
  top: 14px;
  right: 10px;
  padding: 6px 0 0 25px;
}

.card-description {
  background-color: white;
  height: 75px;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  -webkit-box-shadow: 0px 5px 15px -5px #bebebe;
          box-shadow: 0px 5px 15px -5px #bebebe;
}

.card-description .info h2 {
  font-size: 15px;
  margin-bottom: 3px;
}

.card-description .info p {
  font-size: 15px;
  font-weight: lighter;
}

footer {
  height: 180px;
  background-color: #353535;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0 15px 0;
}

footer div img {
  height: 15px;
  width: 100px;
  content: url("/images/logo/ohmyfood.png");
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 3px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

footer ul li a i {
  width: 15px;
  margin-right: 10px;
}

.plate__body {
  padding: 5%;
}

.plate--5 {
  height: 50px;
}

.plate--10 {
  height: 100px;
}

.plate--15 {
  height: 150px;
}

.text {
  font-size: 15px;
}

.text--small {
  font-size: 13px;
}

.text--small.thin {
  font-weight: lighter;
}

.text--small.bold {
  font-weight: bold;
}

.text--medium {
  font-size: 15px;
}

.text--medium.thin {
  font-weight: lighter;
}

.text--medium.bold {
  font-weight: bold;
}

.text--large {
  font-size: 20px;
}

.text--large.thin {
  font-weight: lighter;
}

.text--large.bold {
  font-weight: bold;
}

.text--thin {
  font-weight: lighter;
}

.text--bold {
  font-weight: bold;
}

.font--grey {
  color: #353535;
}

.font--black {
  color: black;
}

.font--white {
  color: white;
}

.title {
  font-size: 20px;
}

.title--white {
  color: white;
}

.bg--white {
  background-color: white;
}

.bg--light-grey {
  background-color: #f6f6f6;
}

.bg--grey {
  background-color: #eaeaea;
}

.btn.btn-main {
  display: block;
  color: white;
  height: 50px;
  width: 220px;
  padding: 10px;
  line-height: 25px;
  text-align: center;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  -webkit-box-shadow: 0px 5px 15px -5px #757575;
          box-shadow: 0px 5px 15px -5px #757575;
}

/* TABLET SCREEN SIZING */
@media (min-width: 600px) {
  .instruction__list {
    padding-left: 0;
  }
  .card {
    max-width: 250px;
  }
}

/* DESKTOP SCREEN SIZING */
@media (min-width: 880px) {
  .instruction__list a {
    font-size: 13px;
    max-width: 240px;
  }
  .card {
    max-width: 344px;
  }
}
/*# sourceMappingURL=style.css.map */