* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// Variables

$white-text: white;
$grey-text: #353535;
$black-text: black;
$grey-BG: #eaeaea;
$lighter-grey-BG: #f6f6f6;
$bold-text: bold;
$thin-text: lighter;
$small-text: 13px;
$medium-text: 15px;
$large-text: 20px;
$drop-shadow: 0px 5px 15px -5px #bebebe;

// TOOLS

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.center {
    align-items: center;
    justify-content: center;
}
.gap {
    gap: 20px;
}

// BLOCK

.container {
    max-width: 1340px;
    margin: auto;
} 
.header {
    &__logo {
        height: 60px;  
        position: relative;
        box-shadow: 0px 1px 5px 0px #adadad;
        &-img {
            height: 30px;
        }
    }
}
.location {    
    height: 50px;  
    &__context {
        .marker {
            margin-right: 15px;
        }
    }  
}
.content {   
    height: 290px; 
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 10% 40px 10%;
    div {
        margin: 15px 0;
    }
}
.instruction {
    padding: 40px 5% 55px 5%;

    &__list {
        margin-top: 30px;
        padding-left: 5%;
    }
    &__item {
        color: white;
        height: 25px; 
        width: 25px;
        padding: 3px 8px;
        border-radius: 50%;
        margin-left: -12.5px;
        background-color: #9356DC;
    }
    &__option {
        background-color: $lighter-grey-BG;
        min-height: 75px;
        border-radius: 25px;
        box-shadow: $drop-shadow;
        text-decoration: none;
        align-items: center;
        color: black;
        div {
            margin-right: 10px;
        }
        &:hover {
            background-color: #9356DC1A;
        }
    }
}
.restaurants {
    padding: 50px 5%;

    &__title {
        margin-bottom: 25px;
    }
    &__card {
        min-height: 250px;
        max-height: 250px;
        margin-bottom: 18px;
        &-image {
            height: 175px;
            position: relative;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 0 -40px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                &.ob-pos {
                    &--up{
                        object-position: 0 -145px;
                    }
                    &--down{
                        object-position: 0 10px;
                    }
                }
            }
            div {
                color: #008766;
                width: 80px;
                height: 30px;
                border-radius: 3px;
                background-color: #99e2d0;
                position: absolute;
                top: 14px;
                right: 10px;
                padding: 6px 0 0 25px;
            }
        }
        &-description {
            background-color: white;
            height: 75px;
            width: 100%;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            box-shadow: $drop-shadow;
            .info {
                &-title {
                    font-size: $medium-text;
                    // font-weight: $bold-text;
                }
                &-location {
                    font-size: $medium-text;
                    font-weight: $thin-text;
                }
            }
            .heart {
                padding: 0 10px 10px 0;
                a {
                    text-decoration: none;
                    color: black;
                }
                a:hover:before {
                  content: "Fav!"
                }
                a:hover {
                    color: #9356DC;
                }
            }
        }
    }
}
.footer {
    height: 180px;
    background-color: #353535;
    .f-container {
        max-width: 1340px;
        padding: 30px 5%;
        &__logo {
            margin-bottom: 5px;
            &-img {
                filter: invert(100%);
                height: 15px;
            }
        }
    .f-list {
        list-style-type: none;
        li {
        margin-bottom: 3px;
        }
        li a {
            color: white;
            text-decoration: none;
            font-size: $small-text;
        }
    }
    }
}

// ELEMENT & MODIFICATION

.plate {
    &__body {
        padding: 5%;
    }
    &--5 {
        height: 50px;
    }
    &--10 {
        height: 100px;
    }
    &--15 {
        height: 150px;
    }
}
.text {
    font-size: $medium-text;

    &--small {
        font-size: $small-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }      
    }
    &--medium {
        font-size: $medium-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }         
    }
    &--large {
        font-size: $large-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }          
    }
    &--thin {
        font-weight: $thin-text;
    }
    &--bold {
        font-weight: $bold-text;
    }
}
.font {
    &--grey {
        color: $grey-text;
    }
    &--black {
        color: $black-text;
    }
    &--white {
        color: $white-text;
    }
}
.title {
    font-size: $large-text;
    &--white {
        color: white;
    }
}

.bg {
    &--white {
        background-color: white;
    }
    &--light-grey {
        background-color: $lighter-grey-BG;
    }
    &--grey {
        background-color: $grey-BG;
    }
}
.btn {
    &.btn-main {
        display: block;
        color: white;
        height: 50px;
        width: 220px;
        padding: 10px;
        line-height: 25px;
        text-align: center;
        border-radius: 25px;
        background: linear-gradient(to right bottom, #FF79DA, #9356DC);
        text-decoration: none;
        font-size: $medium-text;
        font-weight: $bold-text;
        box-shadow: 0px 5px 15px -5px #757575;
    }
}