
.btn {
    &.btn-main {
        display: block;
        color: white;
        height: 50px;
        width: 220px;
        padding: 10px;
        line-height: 25px;
        text-align: center;
        border-radius: 25px;
        background: linear-gradient(to right bottom, $secondary, $primary);
        text-decoration: none;
        font-size: $medium-text;
        font-weight: $bold-text;
        box-shadow: $drop-shadow-s;
    }
}
.home-btn {
    color: $grey-text;
    font-size: $large-text;
}