
.card {
    max-height: 245px;
    width: 100%;
    display: block;
    a:visited {
        color: black;
    }
    &-image {
        height: 135px;
        position: relative;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            &.ob-pos {
                &--up{
                    // object-position: 0 -160px;
                }
                &--down{
                    object-position: 0 10px;
                }
            }
        }
        div {
            font-size: $small-text;
            font-weight: $bold-text;
            color: #008766;
            width: 80px;
            height: 30px;
            border-radius: 3px;
            background-color: #99e2d0;
            position: absolute;
            top: 14px;
            right: 10px;
            padding: 6px 0 0 25px;
        }
    }
    &-description {
        background-color: white;
        height: 75px;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-shadow: $drop-shadow;
        .info {
            h2 {
                font-size: $medium-text;
                margin-bottom: 3px;
            }
            p {
                font-size: $medium-text;
                font-weight: $thin-text;
            }
        }
    }
}
.card:hover {
    transform: scale(1.01);
}