
.card {
    max-height: 245px;
    width: 100%;
    display: block;
    a:visited {
        color: black;
    }
    &__link {
        &__image {
            height: 135px;
            position: relative;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                &.ob-pos {
                    &--up{
                        // object-position: 0 -160px;
                    }
                    &--down{
                        object-position: 0 10px;
                    }
                }
            }
            &__special {
                font-size: $small-text;
                font-weight: $bold-text;
                color: $color-tertiary-darker;
                width: 80px;
                height: 30px;
                border-radius: 3px;
                background-color: $color-tertiary;
                position: absolute;
                top: 14px;
                right: 10px;
                padding: 6px 0 0 25px;
            }
        }
        &__description {
            background-color: white;
            height: 75px;
            width: 100%;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            @include drop-shadow("light");
            &__info {
                &__title {
                    font-size: $medium-text;
                    margin-bottom: 3px;
                }
                &__location {
                    font-size: $medium-text;
                    font-weight: $thin-text;
                }
            }
            .heart {
                margin-right: 25px;
            }
        }
    }
    @include transition;
}
.card:hover {
    @include transform;
    // @include shot-up;
}

/* TABLET SCREEN SIZING */

@media (min-width: 600px) {
    .card {
        max-width: 250px;
    }
}

/* DESKTOP SCREEN SIZING */

@media (min-width: 830px) {
    .card {
        max-width: 344px;
    }
}