
header {
    position: relative;
    @include drop-shadow("header"); // <--- MUST APPLY RELATIVE for shadow to show
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;  
        position: relative;
        .home-btn {
            position: absolute;
            left: 25px;
        }
        img {
            height: 30px; 
            content: url("/images/logo/ohmyfood.png");
        }
    }
    a:visited {
        color: $grey-text;
    }
}