
header {
    position: relative;
    box-shadow: 0px 1px 5px 0px #adadad; // <--- MUST APPLY RELATIVE
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;  
        position: relative;
        .home-btn {
            position: absolute;
            left: 25px;
        }
        img {
            height: 30px; 
            content: url("/images/logo/ohmyfood.png");
        }
    }
    a:visited {
        color: $grey-text;
    }
}