
.heart {
    text-align: center;
    height: 22.4px;
    width: 22.3px;
    font-size: 22.3px;
    color: #353535;
    a:hover {
        color: $color-primary;
    }
    .heart__icon {
      position: absolute;
    }
}
.heart:hover .heart__icon-solid {
    opacity: 1;
  }
.heart__icon-solid {
  color: $color-primary;
  transition: 0.3s opacity;
  opacity: 0; 
}