
.instruction-con {
    padding: 40px 0 55px 0;
    @include container;
}
.instruction {
    // padding: 40px 0 55px 0;
    margin-top: 30px;
    padding-left: 5%;
    @include list-layout;
    &__link {
        font-size: $medium-text;
        background-color: $lighter-grey-BG;
        min-height: 75px;
        width: 100%;
        max-width: 520px;
        border-radius: 25px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        @include drop-shadow("light");
        &__number {
            color: white;
            height: 25px; 
            width: 25px;
            padding: 3px 8px;
            border-radius: 50%;
            margin-left: -12.5px;
            background-color: $color-primary;
        }
        &__icon {
            color: #757575;
            height: 22.3px;
            width: 22.3px;
            padding: 4px 0;
            margin: 0 8px 0 12px;
        }
        &__text {
            font-weight: $bold-text;
            // white-space: nowrap;
        }
        &:hover {
            .instruction__link__icon {
                color: $color-primary;
            }
            background-color: $color-primary-2;
        }
    }
}

/* TABLET SCREEN SIZING */

@media (min-width: 600px) {
    .instruction {        
        padding-left: 0;
    }
}

/* DESKTOP SCREEN SIZING */

@media (min-width: 880px) {
    .instruction {       
        a {
        font-size: $small-text;
        max-width: 240px;
        }  
    }
}