
.instruction {
    padding: 40px 5% 55px 5%;
}
.instruction__list {
    margin-top: 30px;
    padding-left: 5%;
    a {
        font-size: $medium-text;
        background-color: $lighter-grey-BG;
        min-height: 75px;
        width: 100%;
        max-width: 520px;
        border-radius: 25px;
        box-shadow: $drop-shadow;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        &:hover {
            i {
                color: #9356DC;
            }
            background-color: #9356DC1A;
        }
        div {
            color: rgb(255, 255, 255);
            height: 25px; 
            width: 25px;
            padding: 3px 8px;
            border-radius: 50%;
            margin-left: -12.5px;
            background-color: #9356DC;
        }
        i {
            color: #757575;
            height: 22.3px;
            width: 22.3px;
            padding: 4px 0;
            margin: 0 8px 0 12px;
        }
        p {
            font-weight: $bold-text;
            // white-space: nowrap;
        }
    }
}