
.instruction {
    padding: 40px 0 55px 0;
}
.instruction__list {
    margin-top: 30px;
    padding-left: 5%;
    a {
        font-size: $medium-text;
        background-color: $lighter-grey-BG;
        min-height: 75px;
        width: 100%;
        max-width: 520px;
        border-radius: 25px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        box-shadow: $drop-shadow;
        // @extend list-shadow; // <-- WHY NOT WORKING??
        &:hover {
            i {
                color: $color-primary;
            }
            background-color: $color-primary-2;
        }
        div {
            color: rgb(255, 255, 255);
            height: 25px; 
            width: 25px;
            padding: 3px 8px;
            border-radius: 50%;
            margin-left: -12.5px;
            background-color: $color-primary;
        }
        i {
            color: #757575;
            height: 22.3px;
            width: 22.3px;
            padding: 4px 0;
            margin: 0 8px 0 12px;
        }
        p {
            font-weight: $bold-text;
            // white-space: nowrap;
        }
    }
}

/* TABLET SCREEN SIZING */

@media (min-width: 600px) {
    .instruction__list {        
        padding-left: 0;
    }
}

/* DESKTOP SCREEN SIZING */

@media (min-width: 880px) {
    .instruction__list {       
        a {
        font-size: $small-text;
        max-width: 240px;
        }  
    }
}