
.menu-card {
    width: 100%;
    position: relative;
    margin-top: -40px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $lighter-grey-BG;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    .heart {
        margin-right: 30px;
    }
    .list-menu {
        display: flex;
        flex-wrap: wrap;
    }
    @import "./list-menu";
    .btn {
        margin: 45px auto 45px auto;
        width: 185px;
    }
}