
.menu-card {
    width: 100%;
    position: relative;
    margin-top: -40px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $lighter-grey-BG;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 30px;
    }
    .btn {
        margin: 45px auto 45px auto;
        width: 185px;
    }
    .heart {
        margin: auto;
    }
    .list-menu {
        display: flex;
        flex-wrap: wrap;
    }
    .list-title {
        font-weight: $thin-text;
        h4 {
            margin-bottom: 15px;
        }
        span {
            text-decoration: underline solid #99E2D0 3.5px;
            text-underline-offset: 6px;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        width: 100%;
        li {
            a {
                display: block;
                margin-top: 15px;
                background-color: white;
                min-height: 70px;
                border-radius: 15px;
                box-shadow: $drop-shadow;
                .list-description {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}