
.text {
    font-size: $medium-text;

    &--small {
        font-size: $small-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }      
    }
    &--medium {
        font-size: $medium-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }         
    }
    &--large {
        font-size: $large-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }          
    }
    &--xl {
        font-size: $xl-text;
        &.thin {
            font-weight: $thin-text;
        }
        &.bold {
            font-weight: $bold-text;
        }          
    }
    &--thin {
        font-weight: $thin-text;
    }
    &--bold {
        font-weight: $bold-text;
    }
}
.font {
    &--grey {
        color: $grey-text;
    }
    &--black {
        color: $black-text;
    }
    &--white {
        color: $white-text;
    }
}