// TOOLS

.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    display: flex;
    flex-direction: column;
}
.center {
    align-items: center;
    justify-content: center;
}
.gap {
    gap: 20px;
}
@mixin list-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;    
}
.margin {
    &--10 {
        margin: 10px;
        &.t {
            margin: 10px 0 0 0;
        }
        &.r {
            margin: 0 10px 0 0;
        }
        &.b {
            margin: 0 0 10px 0;
        }
        &.l {
            margin: 0 0 0 10px;
        }
        &.rl {
            margin: 0 10px;
        }
        &.tb {
            margin: 10px 0;
        }
    }
    &--15 {
        margin: 15px;
        &.t {
            margin: 15px 0 0 0;
        }
        &.r {
            margin: 0 15px 0 0;
        }
        &.b {
            margin: 0 0 15px 0;
        }
        &.l {
            margin: 0 0 0 15px;
        }
        &.rl {
            margin: 0 15px;
        }
        &.tb {
            margin: 15px 0;
        }
    }

}