// Variables

$color-primary: #9356DC;
$color-primary-2: #9356DC1A;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-darker: #008766;
$white-text: white;
$grey-text: #353535;
$black-text: black;
$grey-BG: #eaeaea;
$lighter-grey-BG: #f6f6f6;
$bold-text: bold;
$thin-text: lighter;
$small-text: 13px;
$medium-text: 15px;
$large-text: 20px;
$xl-text: 25px;
$gap: 20px;

// MIXIN NOT WORKING!!

$drop-shadow: 0px 5px 15px -5px #bebebe; // <-- Short-hand
$drop-shadow-colour: #bebebe;
$drop-shadow-s-colour: #757575;
$drop-shadow-size: 0px 5px 15px -5px;
$drop-shadow-size-header: 0px 1px 5px 0px;

@mixin drop-shadow($c) {

    $colour: "";
    $size: "";

    @if $c == "darker" or $c == "dark" or $c == "d" {
        $size: $drop-shadow-size;
        $colour: $drop-shadow-s-colour;
    } @else if $c == "header" or $c == "head" or $c == "h" {
        $size: $drop-shadow-size-header;
        $colour: $drop-shadow-colour;
    } @else {
        $size: $drop-shadow-size;
        $colour: $drop-shadow-colour;
    }

    box-shadow: $size $colour;

}

@mixin transition {
    transition: all 200ms ease-out;
}

@mixin transform {
    transform: scale(1.01);    
}

$trans-dur: 2000ms;

@mixin shot-up {
    transform: translateY(100%);
    transition: transform $trans-dur cubic-bezier(0, .75, .08, 1);    
} 