// Variables

$color-primary: #9356DC;
$color-primary-2: #9356DC1A;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-2: #008766;
$white-text: white;
$grey-text: #353535;
$black-text: black;
$grey-BG: #eaeaea;
$lighter-grey-BG: #f6f6f6;
$bold-text: bold;
$thin-text: lighter;
$small-text: 13px;
$medium-text: 15px;
$large-text: 20px;
$xl-text: 25px;
$gap: 20px;

// MIXIN NOT WORKING!!

$drop-shadow: 0px 5px 15px -5px #bebebe;
$drop-shadow-colour: #bebebe;
$drop-shadow-size: 0px 5px 15px -5px;
$drop-shadow-s: 0px 5px 15px -5px #757575;

.list-shadow {
    text-shadow: $drop-shadow;
}